# Dépendances
/vendor/

# Environnement
.env.local
.env.local.php

# Cache & logs
/var/
!/var/.gitkeep

# PHPUnit
.phpunit.cache/
.phpunit.result.cache

# IDE / éditeurs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
